@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Poppins font with the weight of 500 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #1e293b; 
  color: #1e293b; 
}

/* Customize button styles globally if needed */
button {
  color: #1e293b; /* text-slate-900 */
  background-color: #f97316; /* bg-orange-500 */
}
