@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; /* Ensuring font-weight is 500 */
  background-color: #1E293B; /* Slate 900 */
  color: #10B981; /* Green 400 */
}

/* Ensure all text inherits the color and font-weight */
*, *::before, *::after {
  font-weight: inherit;
  color: inherit;
}